---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"postcode\" is
        not allowed to be empty"}'
  recorded_at: Wed, 09 Nov 2022 20:14:09 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"\"postcode\" is
        not allowed to be empty"}'
  recorded_at: Wed, 09 Nov 2022 20:14:10 GMT
recorded_with: VCR 6.1.0
