---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=xxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"xxxx","parsed":{"postcode":"xxxx","expected_type":"unknown"}}}'
  recorded_at: Wed, 09 Nov 2022 20:16:38 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=xxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"xxxxx","parsed":{"postcode":"xxxxx","expected_type":"unknown"}}}'
  recorded_at: Wed, 09 Nov 2022 20:16:40 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=xxxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"xxxxxx","parsed":{"postcode":"xxxxxx","expected_type":"unknown"}}}'
  recorded_at: Wed, 09 Nov 2022 20:16:41 GMT
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=xxxxx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"xxxxx","parsed":{"postcode":"xxxxx","expected_type":"unknown"}}}'
  recorded_at: Wed, 09 Nov 2022 20:16:43 GMT
recorded_with: VCR 6.1.0
