---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/59001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 15 Apr 2017 05:18:21 GMT
      Etag:
      - '"bbae8a702072e55908cdd41d498e1390"'
      X-Amz-Version-Id:
      - 'null'
    body:
      encoding: UTF-8
      string: '{"zone": "4b", "coordinates": {"lat": 45.5, "lon": -109.56}, "temperature_range":
        "-25 to -20"}'
  recorded_at: Wed, 02 Nov 2022 21:22:56 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/45.5,-109.56
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - fc07383
      X-Server-Id:
      - vm-lnx-nids-apiapp1.ncep.noaa.gov
      X-Edge-Request-Id:
      - 613bc44
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/45.5,-109.56",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -109.56,
                    45.5
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/45.5,-109.56",
                "@type": "wx:Point",
                "cwa": "BYZ",
                "forecastOffice": "https://api.weather.gov/offices/BYZ",
                "gridId": "BYZ",
                "gridX": 66,
                "gridY": 81,
                "forecast": "https://api.weather.gov/gridpoints/BYZ/66,81/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BYZ/66,81/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BYZ/66,81",
                "observationStations": "https://api.weather.gov/gridpoints/BYZ/66,81/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -109.455698,
                            45.527600999999997
                        ]
                    },
                    "properties": {
                        "city": "Absarokee",
                        "state": "MT",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 8687.2586137576
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 249
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/MTZ066",
                "county": "https://api.weather.gov/zones/county/MTC095",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/MTZ125",
                "timeZone": "America/Denver",
                "radarStation": "KBLX"
            }
        }
  recorded_at: Wed, 02 Nov 2022 21:22:57 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BYZ/66,81/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - fc07663
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 613be67
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [...]
