---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/46001.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 15 Apr 2017 04:50:24 GMT
      Etag:
      - '"dfe2aca0ad34fffaf6fdc36489acb40f"'
      X-Amz-Version-Id:
      - 'null'
    body:
      encoding: UTF-8
      string: '{"zone": "5b", "coordinates": {"lat": 40.25, "lon": -85.67}, "temperature_range":
        "-15 to -10"}'
  recorded_at: Wed, 02 Nov 2022 20:37:46 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/40.25,-85.67
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - f9b61cd
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 5e90c83
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/40.25,-85.67",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -85.670000000000002,
                    40.25
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/40.25,-85.67",
                "@type": "wx:Point",
                "cwa": "IND",
                "forecastOffice": "https://api.weather.gov/offices/IND",
                "gridId": "IND",
                "gridX": 72,
                "gridY": 91,
                "forecast": "https://api.weather.gov/gridpoints/IND/72,91/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/IND/72,91/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/IND/72,91",
                "observationStations": "https://api.weather.gov/gridpoints/IND/72,91/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -85.676130000000001,
                            40.258378
                        ]
                    },
                    "properties": {
                        "city": "Alexandria",
                        "state": "IN",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 1066.995559469
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 150
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/INZ040",
                "county": "https://api.weather.gov/zones/county/INC095",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/INZ040",
                "timeZone": "America/Indiana/Indianapolis",
                "radarStation": "KIND"
            }
        }
  recorded_at: Wed, 02 Nov 2022 20:37:47 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/IND/72,91/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 28ed1f5
      X-Server-Id:
      - vm-lnx-nids-apiapp4.ncep.noaa.gov
      X-Edge-Request-Id:
      - 5e90d85
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [...]
