---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/39.76,-82.07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 5602f196
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - ff892bc
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/39.76,-82.0699999",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -82.069999899999999,
                    39.759999999999998
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/39.76,-82.0699999",
                "@type": "wx:Point",
                "cwa": "RLX",
                "forecastOffice": "https://api.weather.gov/offices/RLX",
                "gridId": "RLX",
                "gridX": 40,
                "gridY": 128,
                "forecast": "https://api.weather.gov/gridpoints/RLX/40,128/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/RLX/40,128/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/RLX/40,128",
                "observationStations": "https://api.weather.gov/gridpoints/RLX/40,128/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -82.094937000000002,
                            39.767949000000002
                        ]
                    },
                    "properties": {
                        "city": "Crooksville",
                        "state": "OH",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 2307.4770522489998
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 112
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/OHZ067",
                "county": "https://api.weather.gov/zones/county/OHC115",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/OHZ067",
                "timeZone": "America/New_York",
                "radarStation": "KILN"
            }
        }
  recorded_at: Wed, 09 Nov 2022 17:59:42 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/RLX/40,128/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 5602fe50
      X-Server-Id:
      - vm-lnx-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - ff89488
    body:
      encoding: UTF-8
      string: |-
        {
            "@context[...]
