---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=60647,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"60647","name":"Chicago","lat":41.9209,"lon":-87.7043,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:39 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=<open_weather_key>&lat=41.9209&lon=-87.7043&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1668654000,"main":{"temp":33.04,"feels_like":25.14,"temp_min":32.59,"temp_max":33.04,"pressure":1021,"sea_level":1021,"grnd_level":998,"humidity":83,"temp_kf":0.25},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"clouds":{"all":93},"wind":{"speed":9.78,"deg":302,"gust":18.43},"visibility":10000,"pop":0.19,"sys":{"pod":"n"},"dt_txt":"2022-11-17
        03:00:00"},{"dt":1668664800,"main":{"temp":32.07,"feels_like":23.95,"temp_min":31.48,"temp_max":32.07,"pressure":1021,"sea_level":1021,"grnd_level":998,"humidity":87,"temp_kf":0.33},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":81},"wind":{"speed":9.73,"deg":276,"gust":18.03},"visibility":10000,"pop":0.11,"sys":{"pod":"n"},"dt_txt":"2022-11-17
        06:00:00"},{"dt":1668675600,"main":{"temp":30.02,"feels_like":21.0[...]
