---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=b9f980f3993c2138e1249d5d3cb53455&zip=60647,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"60647","name":"Chicago","lat":41.9209,"lon":-87.7043,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:39 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=60647,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Thu, 17 Nov 2022 00:27:40 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=<open_weather_key>&lat&lon&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Thu, 17 Nov 2022 00:27:40 GMT
recorded_with: VCR 6.1.0
