---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>99999.json</Key><RequestId>7W708G5VSZ586C2D</RequestId><HostId>u2Qbk0MQH33+S9WGlB3BxbJEcQKxMM/GtHYwAz4e33wPz0Fxa7xzu4R1OOEdFpSJvTYfQlXCrNs=</HostId></Error>
  recorded_at: Fri, 04 Nov 2022 12:56:48 GMT
recorded_with: VCR 6.1.0
