---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>99999.json</Key><RequestId>ZTRE3FJMQ0YKG16M</RequestId><HostId>RssTXeljimuVnGmhjqHbf1HyKbzPcFvDHJJy8pH2GG8iGWLZ8+fMPmVkCzp6JGuLSrnsrgs1Rw4=</HostId></Error>
  recorded_at: Thu, 17 Nov 2022 00:27:41 GMT
recorded_with: VCR 6.1.0
