---
http_interactions:
- request:
    method: get
    uri: https://api.geoapify.com/v1/geocode/search?apiKey=<location_api>&filter=countrycode:us&postcode=5408
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Version:
      - '1.0'
      Content-Disposition:
      - inline; filename=response.geojson
    body:
      encoding: ASCII-8BIT
      string: '{"type":"FeatureCollection","features":[],"query":{"text":"5408","parsed":{"postcode":"5408","expected_type":"unknown"}}}'
  recorded_at: Wed, 09 Nov 2022 19:57:57 GMT
recorded_with: VCR 6.1.0
