---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/-4.6,-58.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - e204561
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - f5fba52
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "e204561",
            "title": "Data Unavailable For Requested Point",
            "type": "https://api.weather.gov/problems/InvalidPoint",
            "status": 404,
            "detail": "Unable to provide data for requested point -4.6,-58.2",
            "instance": "https://api.weather.gov/requests/e204561"
        }
  recorded_at: Wed, 09 Nov 2022 18:07:23 GMT
recorded_with: VCR 6.1.0
