---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/41.83,-87.68
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - b176743
      X-Server-Id:
      - vm-lnx-nids-apiapp8.ncep.noaa.gov
      X-Edge-Request-Id:
      - 6b9f498
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/41.83,-87.68",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -87.680000000000007,
                    41.829999999999998
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/41.83,-87.68",
                "@type": "wx:Point",
                "cwa": "LOT",
                "forecastOffice": "https://api.weather.gov/offices/LOT",
                "gridId": "LOT",
                "gridX": 73,
                "gridY": 70,
                "forecast": "https://api.weather.gov/gridpoints/LOT/73,70/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/LOT/73,70/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/LOT/73,70",
                "observationStations": "https://api.weather.gov/gridpoints/LOT/73,70/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -87.681843999999998,
                            41.837550999999998
                        ]
                    },
                    "properties": {
                        "city": "Chicago",
                        "state": "IL",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 853.41986103094996
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 169
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/ILZ104",
                "county": "https://api.weather.gov/zones/county/ILC031",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/ILZ014",
                "timeZone": "America/Chicago",
                "radarStation": "KLOT"
            }
        }
  recorded_at: Thu, 03 Nov 2022 00:01:48 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/LOT/73,70/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 102761f2
      X-Server-Id:
      - vm-lnx-nids-apiapp3.ncep.noaa.gov
      X-Edge-Request-Id:
      - 6b9f4ed
    body:
      encoding: UTF-8
      string: |-
        {
            "@context":[...]
