---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=49643,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"49643","name":"Green Lake Township","lat":44.6518,"lon":-85.8022,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:46 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=<open_weather_key>&lat=44.6518&lon=-85.8022&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1668654000,"main":{"temp":28.33,"feels_like":23.65,"temp_min":28.33,"temp_max":28.76,"pressure":1014,"sea_level":1014,"grnd_level":985,"humidity":95,"temp_kf":-0.24},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"clouds":{"all":100},"wind":{"speed":4.16,"deg":340,"gust":10.94},"visibility":501,"pop":0.72,"snow":{"3h":0.98},"sys":{"pod":"n"},"dt_txt":"2022-11-17
        03:00:00"},{"dt":1668664800,"main":{"temp":28.13,"feels_like":22.5,"temp_min":28.13,"temp_max":28.13,"pressure":1015,"sea_level":1015,"grnd_level":985,"humidity":92,"temp_kf":0},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"clouds":{"all":100},"wind":{"speed":5.03,"deg":326,"gust":13.51},"visibility":3685,"pop":0.8,"snow":{"3h":0.48},"sys":{"pod":"n"},"dt_txt":"2022-11-17
        06:00:00"},{"dt":1668675600,"main":{"temp":27.1,"feels_li[...]
