---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=05408,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"05408","name":"Burlington","lat":44.512,"lon":-73.2492,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:38 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=05408,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"05408","name":"Burlington","lat":44.512,"lon":-73.2492,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:39 GMT
recorded_with: VCR 6.1.0
