---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/05408.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 15 Apr 2017 04:57:29 GMT
      Etag:
      - '"e3a349a017fd93e2c613d62ca950c66d"'
      X-Amz-Version-Id:
      - 'null'
    body:
      encoding: UTF-8
      string: '{"zone": "5a", "coordinates": {"lat": 44.48, "lon": -73.27}, "temperature_range":
        "-20 to -15"}'
  recorded_at: Tue, 08 Nov 2022 16:42:15 GMT
recorded_with: VCR 6.1.0
