---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/60647.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 15 Apr 2017 03:56:55 GMT
      X-Amz-Version-Id:
      - 'null'
      Etag:
      - '"c87c6772c680874730f7fb3f01109756"'
    body:
      encoding: UTF-8
      string: '{"zone": "6a", "coordinates": {"lat": 41.83, "lon": -87.68}, "temperature_range":
        "-10 to -5"}'
  recorded_at: Thu, 03 Nov 2022 13:17:33 GMT
recorded_with: VCR 6.1.0
