---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=80223,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80223","name":"Denver","lat":39.7002,"lon":-105.0028,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:37 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/geo/1.0/zip?appid=<open_weather_key>&zip=80223,US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"zip":"80223","name":"Denver","lat":39.7002,"lon":-105.0028,"country":"US"}'
  recorded_at: Thu, 17 Nov 2022 00:27:38 GMT
recorded_with: VCR 6.1.0
