---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>.json</Key><RequestId>YNAJ8BTCV1119TPJ</RequestId><HostId>v3e6m/M44UZy5yt8lzT8sriP2ZAniJjXkrFLl6pr/mz81PlePux/ncW6kIJCji5eWL+8zsJCNpQ=</HostId></Error>
  recorded_at: Sat, 05 Nov 2022 12:41:54 GMT
recorded_with: VCR 6.1.0
