---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>99999.json</Key><RequestId>4T6E9TZ89MP1TXB0</RequestId><HostId>IpIsFw6iaomKE5ZZiUZw2v+//lUot94gC/D0uyS0AiKyIE2fSdmWDFyg6sE+YuqAe07BiqZaQFQ=</HostId></Error>
  recorded_at: Fri, 04 Nov 2022 12:27:04 GMT
recorded_with: VCR 6.1.0
