---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>99999.json</Key><RequestId>ZCGTSQEBYQ362032</RequestId><HostId>XWhgSTipSQ64qLLy57gRr2p72rDAX4y6OdDZzImyz7DG02XG9d0dGl4A1t5zZjqO5RSjoz7emvs=</HostId></Error>
  recorded_at: Wed, 09 Nov 2022 20:04:31 GMT
recorded_with: VCR 6.1.0
