---
http_interactions:
- request:
    method: get
    uri: https://phzmapi.org/99999.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>99999.json</Key><RequestId>ZD9102M95TTX5DT6</RequestId><HostId>1c1qubKuozUvLkZw8992BB6JQI6orVqbz3SM+FLSCJklG/pWnxwumcIrTAcy3porHzU86uuP4mg=</HostId></Error>
  recorded_at: Thu, 17 Nov 2022 00:27:29 GMT
recorded_with: VCR 6.1.0
